.title {
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    line-height: 78px;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1160px) {
    .title {
        font-size: 30px;
        line-height: 39px;
    }
}