.header {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid rgba(78, 85, 95, 1);
}

@media screen and (max-width: 1160px) {
    .header {
        margin: 0 20px;
    }
}