.link {
    margin-right: 45px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 35px;
    text-transform: lowercase;
    white-space: nowrap;
}

.link:hover {
    opacity: 0.8;
    transition-duration: .3s;
    color: rgba(209, 176, 107, 1);
}

@media screen and (max-width: 1160px) {
    .link {
        font-size: 20px;
        line-height: 32px;
        margin-right: 20px;
    }
}