.link {
    margin-right: 45px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 35px;
}

.link:hover {
    opacity: 0.8;
    transition-duration: .3s;
    color: rgba(209, 176, 107, 1);
}