.title-image {
    width: 400px;
    height: 60px;
}

@media screen and (max-width: 1030px) {
    .title-image {
        width: 200px;
        height: 30px;
    }
}

@media screen and (max-width: 800px) {
    .title-image {
        width: 100px;
        height: 15px;
    }
}

@media screen and (max-width: 500px) {
    .title-image {
        display: none;
    }
}