.footer {
    margin-top: 40px;
    background-image: url(../../vendor/image/servises_bckg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 1160px) {
    .footer {
        margin-top: 20px;
    }
}