.footer__content {
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media screen and (max-width: 800px) {
    .footer__content {
        margin-right: 60px;
    }
}

@media screen and (max-width: 800px) {
    .footer__content {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .footer__content {
        justify-content: center;
    }
}